.form
  .form__title
    新規登録
  = form_with model: @user, url: user_registration_path, local: true do |f|
    = render "devise/shared/error_messages", resource: resource
    .field-wrapper
      .user-field
        .form-announce
          %span.red ＊
          マークは必須項目です
        .field
          = f.label :名前
          %span.red ＊
          %br/
          = f.text_field :name, autofocus: true, autocomplete: "name", class: "input-field"
        .field
          = f.label :email
          %span.red ＊
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field"
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} 文字以上)
          %span.red ＊
          = f.password_field :password, autocomplete: "new-password", class: "input-field"
        .field
          = f.label :password_確認
          %span.red ＊
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field"
        .field
          = f.label :住所
          %br/
          = f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: "input-field"
        .field
          = f.label :年齢
          %br/
          = f.select :age, User.ages.keys, {prompt: '選択してください'}, class: "input-field"
        .field
          = f.label :性別
          %br/
          .gender
            = f.label :gender , value: "男性" do
              = f.radio_button :gender, :男性, class: "blue"
              男性
            = f.label :gender , value: "女性" do
              = f.radio_button :gender, :女性, class: "red"
              女性
        .field
          = f.label :プロフィール
          %br/
          = f.text_area :profile, class: "input-field"
      
      .avatar-image
        .form-announce
          あなたのアバターです
          %br/
          運動しないと太ってしまいます
          %br/
          ランニングの習慣化で健康な毎日を！
        .avatar.large-avatar
          = render partial: "/avatar/default/registrations_avatar"
          .avatar-responsive
            .dress-up.circle
              = icon "fas", "tshirt", class: "dress-up--icon"
              .dress-up--msg
                着せ替え
            .dress-up-close.circle
              = icon "fas", "times", class: "times-icon"
              .dress-up--msg
                閉じる
      .avatar-form
        .avatar-field
          .form-announce
            スタイルとカラーが選べます
            %br/
            ランニングを続けると
            %br/
            新しい服が選べるようになります
          = f.fields_for :avatar, class: "avatar_form" do |f|
            .color-select
              .color-select__announce
                編集する部分をクリックしてください
              .radio-buttons
                -# 髪型
                .hair-tab.hidden-tab
                  hair
                .select-parts
                  .avatar_parts
                    = f.radio_button :hair, "mens_hair1", class: "black hidden_button"
                    = f.label :hair, value: "mens_hair1" do
                      .parts_preview
                        = render partial: "/avatar/hair/mens_hair1"
                    = f.radio_button :hair, "mens_hair2", class: "black hidden_button"
                    = f.label :hair, value: "mens_hair2" do
                      .parts_preview
                        = render partial: "/avatar/hair/mens_hair2"
                    = f.radio_button :hair, "mens_hair3", class: "black hidden_button"
                    = f.label :hair, value: "mens_hair3" do
                      .parts_preview
                        = render partial: "/avatar/hair/mens_hair3"
                    = f.radio_button :hair, "ladies_hair1", class: "black hidden_button"
                    = f.label :hair, value: "ladies_hair1" do
                      .parts_preview
                        = render partial: "/avatar/hair/ladies_hair1"
                    = f.radio_button :hair, "ladies_hair2", class: "black hidden_button"
                    = f.label :hair, value: "ladies_hair2" do
                      .parts_preview
                        = render partial: "/avatar/hair/ladies_hair2"
                    = f.radio_button :hair, "ladies_hair3", class: "black hidden_button"
                    = f.label :hair, value: "ladies_hair3" do
                      .parts_preview
                        = render partial: "/avatar/hair/ladies_hair3"
                  .btn-wrapper
                    = f.radio_button :hair_color, "#202020", class: "black"
                    = f.radio_button :hair_color, "#4f2702", class: "brown"
                    = f.radio_button :hair_color, "#808080", class: "gray"
                    = f.radio_button :hair_color, "#fff100", class: "yellow"
                    .arrange-color
                      調整
                      = f.color_field :hair_color, id: "hair-color-field"
                    = f.hidden_field :hair_color, id: "hidden-hair-color"
                -# トップス
                .tops-tab.hidden-tab
                  tops
                .select-parts
                  .btn-wrapper
                    = f.radio_button :tops_color, "#e60012", class: "red"
                    = f.radio_button :tops_color, "#fff100", class: "yellow"
                    = f.radio_button :tops_color, "#008000", class: "green"
                    = f.radio_button :tops_color, "#a0d8ef", class: "skyblue"
                    = f.radio_button :tops_color, "#202020", class: "black"
                    = f.radio_button :tops_color, "#ffffff", class: "white"
                    .arrange-color
                      調整
                      = f.color_field :tops_color, id: "tops-color-field"
                    = f.hidden_field :tops_color, id: "hidden-tops-color"
                -# ボトムス
                .bottoms-tab.hidden-tab
                  bottoms
                .select-parts
                  .btn-wrapper
                    = f.radio_button :bottoms_color, "#fff100", class: "yellow"
                    = f.radio_button :bottoms_color, "#008000", class: "green"
                    = f.radio_button :bottoms_color, "#0000ff", class: "blue"
                    = f.radio_button :bottoms_color, "#202020", class: "black"
                    = f.radio_button :bottoms_color, "#808080", class: "gray"
                    = f.radio_button :bottoms_color, "#ffffff", class: "white"
                    .arrange-color
                      調整
                      = f.color_field :bottoms_color, id: "bottoms-color-field"
                    = f.hidden_field :bottoms_color, id: "hidden-bottoms-color"
                -# 靴
                .shoes-tab.hidden-tab
                  shoes
                .select-parts
                  .btn-wrapper
                    = f.radio_button :shoes_color, "#fff100", class: "yellow"
                    = f.radio_button :shoes_color, "#0000ff", class: "blue"
                    = f.radio_button :shoes_color, "#202020", class: "black"
                    = f.radio_button :shoes_color, "#ffffff", class: "white"
                    .arrange-color
                      調整
                      = f.color_field :shoes_color, id: "shoes-color-field"
                    = f.hidden_field :shoes_color, id: "hidden-shoes-color"

    .user-post
      .actions
        = f.submit "新規登録", class: "submit-button"
