.content__box__post
  .upper-post
    .user-name
      = tweet.user.name
    .post-date
      = tweet.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-post
    .tweet
      = simple_format(tweet.text)
    - if tweet.image.present?
      = image_tag "#{tweet.image}", class: "image"
    .check-lists
      - if user_signed_in?
        - if controller_name == "tweets" && action_name == "show"
          .button-list.js-modal-comment-open
            .tooltipt
              コメント
              .tooltip-balloon
            = icon "far", "comment"
        - if current_user.id == tweet.user_id
          - if controller_name == "tweets" && action_name == "show"
            .button-list.js-modal-edit-tweet-open
              .tooltipt
                編集する
                .tooltip-balloon
              = icon "fas", "edit"
          .button-list.js-modal-destroy-tweet-open
            .tooltipt
              削除する
              .tooltip-balloon
            = link_to tweet_path(tweet), method: :delete, id: "tweet-delete-button" do
              = icon "fas", "trash"
        .button-list
          .tooltipt
            いいね！
            .tooltip-balloon
          = render partial: 'likes/like', locals: { tweet: tweet, likes: @likes}
