.main-content
  %h3.main-content__title
    tweet一覧
  %span
  = paginate @tweets
  .content
    - @tweets.each do |tweet|
      = link_to tweet_path(tweet.id) do
        .content__box
          .avatar-circle
            .mini-avatar
              .avatar
                = render partial: "/users/avatar", locals: {user: tweet.user}
          = render partial: "tweet", locals: {tweet: tweet}
    = paginate @tweets
= render partial: "/side_bar"
