-# ぽっちゃり
#face
  = render partial: "/avatar/face/chubby"
.hair
  #hair.mens-hair.black
    = render partial: "/avatar/hair/mens_hair1"
#tops.skyblue
  = render partial: "/avatar/tops/chubby"
#bottoms.gray
  = render partial: "/avatar/bottoms/chubby"
#shoes.blue
  = render partial: "/avatar/shoes/shoes1"
