-# 太った
#face
  = render partial: "/avatar/face/fat"
.hair
  #hair.mens-hair.black
    = render partial: "/avatar/hair/mens_hair1"
#tops.skyblue
  = render partial: "/avatar/tops/fat"
#bottoms.gray
  = render partial: "/avatar/bottoms/fat"
#shoes.blue
  = render partial: "/avatar/shoes/shoes1"
