-# 太った
#face
  = render partial: "/avatar/face/fat_face"
.hair
  #hair.mens-hair.black
    = render partial: "/avatar/hair/mens_hair1"
#upper-body.skyblue
  = render partial: "/avatar/upper_body/fat_upper_body"
#lower-body.gray
  = render partial: "/avatar/lower_body/fat_lower_body"
#shoes.blue
  = render partial: "/avatar/shoes/shoes1"
