-# スリム
#face
  = render partial: "/avatar/face/slim"
.skin
  = render partial: "/avatar/default/hand"
#hair
  %div{class: "hair", style: "fill: #{user.avatar.hair_color}"}
    = render partial: "/avatar/hair/#{user.avatar.hair}"
- if user.avatar.inner.present?
  %div{id: "inner", style: "fill: #{user.avatar.inner_color}"}
    = render partial: "/avatar/tops/#{user.avatar.inner}"
.tops
  %div{id: "tops", style: "fill: #{user.avatar.tops_color}"}
    = render partial: "/avatar/tops/slim"
.bottoms
  %div{id: "bottoms", style: "fill: #{user.avatar.bottoms_color}"}
    = render partial: "/avatar/bottoms/slim"
%div{id: "shoes", style: "fill: #{user.avatar.shoes_color};"}
  = render partial: "/avatar/shoes/#{user.avatar.shoes}"
