-# スリム
#face
  = render partial: "/avatar/face/slim"
.skin
  = render partial: "/avatar/default/hand"
.hair
  #hair.mens-hair.black
    = render partial: "/avatar/hair/mens_hair1"
#tops.skyblue
  = render partial: "/avatar/tops/slim"
#bottoms.gray
  = render partial: "/avatar/bottoms/slim"
#shoes.blue
  = render partial: "/avatar/shoes/shoes1"
