#face
  = render partial: "/avatar/face/#{user.avatar.face}"
.skin
  = render partial: "/avatar/default/hand"
.hair
  %div{id: "hair", class: "mens-hair #{user.avatar.hair_color}"}
    = render partial: "/avatar/hair/#{user.avatar.hair}"
#inner.yellow
  = render partial: "/avatar/tops/inner1"
.tops
  %div{id: "tops", class: "#{user.avatar.tops_color}"}
    = render partial: "/avatar/tops/#{user.avatar.tops}"
.bottoms
  %div{id: "bottoms", class: "#{user.avatar.bottoms_color}"}
    = render partial: "/avatar/bottoms/#{user.avatar.bottoms}"
%div{id: "shoes", class: "#{user.avatar.shoes_color}"}
  = render partial: "/avatar/shoes/#{user.avatar.shoes}"
