.form
  .form__title
    編集する
  = form_with model: @user, local: true do |f|
    .field-wrapper
      .user-field
        .form-announce
          %span.red ＊
          マークは必須項目です
        .field
          = f.label :名前
          %span.red ＊
          %br/
          = f.text_field :name, autofocus: true, autocomplete: "name", value: @user.name, class: "input-field"
        .field
          = f.label :email
          %span.red ＊
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", value: @user.email, class: "input-field"
        .field
          = f.label :住所
          %br/
          = f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: "input-field"
        .field
          = f.label :年齢
          %br/
          = f.select :age, User.ages.keys, {prompt: '選択してください'}, class: "input-field"
        .field
          = f.label :性別
          %br/
          .gender
            = f.label :gender , value: "男性" do
              = f.radio_button :gender, :男性, class: "blue"
              男性
            = f.label :gender , value: "女性" do
              = f.radio_button :gender, :女性, class: "red"
              女性
        .field
          = f.label :プロフィール
          %br/
          = f.text_area :profile, class: "input-field"
      
      .avatar-wrapper
        .form-announce
          あなたのアバターです
          %br/
          運動しないと太ってしまいます
          %br/
          ランニングの習慣化で健康な毎日を！
        .avatar.large-avatar
          = render partial: "/users/avatar", locals: { user: @user }
      
      .avatar-field
        .form-announce
          スタイルとカラーが選べます
          %br/
          ランニングを続けると
          %br/
          新しい服が選べるようになります
        = f.fields_for :avatar, class: "avatar_form" do |f|
          .color-select
            .color-select__announce
              編集する部分をクリックしてください
            = f.hidden_field :face, id: "hidden-tops"
            .radio-buttons
              -# 髪型
              .hair-tab.hidden-tab
                hair
              .select-parts
                .avatar_parts
                  = f.radio_button :hair, "mens_hair1", class: "black hidden_button"
                  = f.label :hair, value: "mens_hair1" do
                    .parts_preview
                      = render partial: "/avatar/hair/mens_hair1"
                  = f.radio_button :hair, "mens_hair2", class: "black hidden_button"
                  = f.label :hair, value: "mens_hair2" do
                    .parts_preview
                      = render partial: "/avatar/hair/mens_hair2"
                  = f.radio_button :hair, "mens_hair3", class: "black hidden_button"
                  = f.label :hair, value: "mens_hair3" do
                    .parts_preview
                      = render partial: "/avatar/hair/mens_hair3"
                  = f.radio_button :hair, "ladies_hair1", class: "black hidden_button"
                  = f.label :hair, value: "ladies_hair1" do
                    .parts_preview
                      = render partial: "/avatar/hair/ladies_hair1"
                  = f.radio_button :hair, "ladies_hair2", class: "black hidden_button"
                  = f.label :hair, value: "ladies_hair2" do
                    .parts_preview
                      = render partial: "/avatar/hair/ladies_hair2"
                  = f.radio_button :hair, "ladies_hair3", class: "black hidden_button"
                  = f.label :hair, value: "ladies_hair3" do
                    .parts_preview
                      = render partial: "/avatar/hair/ladies_hair3"
                .btn-wrapper
                  = f.radio_button :hair_color, "#202020", class: "black"
                  = f.radio_button :hair_color, "#4f2702", class: "brown"
                  = f.radio_button :hair_color, "#808080", class: "gray"
                  = f.radio_button :hair_color, "#fff100", class: "yellow"
                  .arrange-color
                    調整
                    = f.color_field :hair_color, id: "hair-color-field"
                  = f.hidden_field :hair_color, id: "hidden-hair-color"
              -# トップス
              .tops-tab.hidden-tab
                tops
              .select-parts
                - if @user.avatar.weekly_average_mileage >= 20
                  .avatar_parts
                    = f.radio_button :tops, "slim", class: "hidden_button"
                    = f.label :tops, value: "slim" do
                      .parts_preview.tops_preview
                        = render partial: "/avatar/tops/slim"
                    
                    = f.radio_button :tops, "tops1", class: "hidden_button"
                    = f.label :tops, value: "tops1" do
                      .parts_preview.tops_preview
                        = render partial: "/avatar/tops/tops1"
                    
                    = f.radio_button :tops, "tops2", class: "hidden_button"
                    = f.label :tops, value: "tops2" do
                      .parts_preview.tops_preview
                        = render partial: "/avatar/tops/tops2"
                .btn-wrapper
                  = f.radio_button :tops_color, "#e60012", class: "red"
                  = f.radio_button :tops_color, "#fff100", class: "yellow"
                  = f.radio_button :tops_color, "#008000", class: "green"
                  = f.radio_button :tops_color, "#a0d8ef", class: "skyblue"
                  = f.radio_button :tops_color, "#202020", class: "black"
                  = f.radio_button :tops_color, "#ffffff", class: "white"
                  .arrange-color
                    調整
                    = f.color_field :tops_color, id: "tops-color-field"
                  = f.hidden_field :tops_color, id: "hidden-tops-color"
              -# インナー
              .inner-tab.hidden-tab
                inner
              .select-parts
                - if @user.avatar.weekly_average_mileage >= 20
                  .avatar_parts
                    = f.radio_button :inner, "", class: "hidden_button"
                    = f.label :inner, value: "" do
                      .parts_preview.inner_preview
                        .parts_nothing
                          なし
                    
                    = f.radio_button :inner, "inner1", class: "hidden_button"
                    = f.label :inner, value: "inner1" do
                      .parts_preview.inner_preview
                        = render partial: "/avatar/tops/inner1"
                    
                .btn-wrapper
                  = f.radio_button :inner_color, "#e60012", class: "red"
                  = f.radio_button :inner_color, "#fff100", class: "yellow"
                  = f.radio_button :inner_color, "#008000", class: "green"
                  = f.radio_button :inner_color, "#a0d8ef", class: "skyblue"
                  = f.radio_button :inner_color, "#202020", class: "black"
                  = f.radio_button :inner_color, "#ffffff", class: "white"
                  .arrange-color
                    調整
                    = f.color_field :inner_color, value: "#fff100", id: "inner-color-field"
                  = f.hidden_field :inner_color, id: "hidden-inner-color"
              -# ボトムス
              .bottoms-tab.hidden-tab
                bottoms
              .select-parts
                - if @user.avatar.weekly_average_mileage >= 20
                  .avatar_parts
                    = f.radio_button :bottoms, "slim", class: "hidden_button"
                    = f.label :bottoms, value: "slim" do
                      .parts_preview.bottoms_preview
                        = render partial: "/avatar/bottoms/slim"
                    
                    = f.radio_button :bottoms, "bottoms1", class: "hidden_button"
                    = f.label :bottoms, value: "bottoms1" do
                      .parts_preview.bottoms_preview
                        = render partial: "/avatar/bottoms/bottoms1"
                    
                    = f.radio_button :bottoms, "bottoms2", class: "hidden_button"
                    = f.label :bottoms, value: "bottoms2" do
                      .parts_preview.bottoms_preview
                        = render partial: "/avatar/bottoms/bottoms2"
                    
                    = f.radio_button :bottoms, "bottoms3", class: "hidden_button"
                    = f.label :bottoms, value: "bottoms3" do
                      .parts_preview.bottoms_preview
                        = render partial: "/avatar/bottoms/bottoms3"
                  
                .btn-wrapper
                  = f.radio_button :bottoms_color, "#fff100", class: "yellow"
                  = f.radio_button :bottoms_color, "#008000", class: "green"
                  = f.radio_button :bottoms_color, "#0000ff", class: "blue"
                  = f.radio_button :bottoms_color, "#202020", class: "black"
                  = f.radio_button :bottoms_color, "#808080", class: "gray"
                  = f.radio_button :bottoms_color, "#ffffff", class: "white"
                  .arrange-color
                    調整
                    = f.color_field :bottoms_color, id: "bottoms-color-field"
                  = f.hidden_field :bottoms_color, id: "hidden-bottoms-color"
              .shoes-tab.hidden-tab
                shoes
              .select-parts
                .btn-wrapper
                  = f.radio_button :shoes_color, "#fff100", class: "yellow"
                  = f.radio_button :shoes_color, "#0000ff", class: "blue"
                  = f.radio_button :shoes_color, "#202020", class: "black"
                  = f.radio_button :shoes_color, "#ffffff", class: "white"
                  .arrange-color
                    調整
                    = f.color_field :shoes_color, id: "shoes-color-field"
                  = f.hidden_field :shoes_color, id: "hidden-shoes-color"
            = f.hidden_field :weekly_average_mileage
    .user-post
      .actions
        = f.submit "編集する", class: "submit-button"
