.form
  .form__title
    ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field-wrapper
      .user-field.login-field
        .field
          = button_tag "テスト用ログインデータを入れる", id: "dummy-data"
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field", id: "login-mail"
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password", class: "input-field", id: "login-pass"
        .actions
          = f.submit "ログイン", class: "submit-button"
        .avatar.large-avatar
          = render partial: "/avatar/default/registrations_avatar"
