.side-content
  %h3.side-content__title
    %span
    = icon "fas", "thumbs-up"
    tweetランキング
  .content
    = icon "fas", "crown", class: "ranking"
    - @tweet_ranking.each.with_index(1) do |tweet, i|
      = link_to tweet_path(tweet) do
        No.
        = i
        .content__box
          .avatar-circle
            .mini-avatar
              .avatar
                = render partial: "/users/avatar", locals: {user: tweet.user}
          .content__box__post
            .upper-post
              .user-name
                = tweet.user.name
            .lower-post
              .tweet.side-tweet
                = simple_format(tweet.text)
              .check-lists
                .button-list
                  .iine__button
                    = icon "fas", "heart"
                    = tweet.likes.count


  %h3.side-content__title
    %span
    = icon "fas", "running"
    distanceランキング
  .content
    = icon "fas", "crown", class: "ranking"
    - @work_ranking.each.with_index(1) do |work, i|
      = link_to user_path(work.user) do
        No.
        = i
        .content__box
          .avatar-circle
            .mini-avatar
              .avatar
                = render partial: "/users/avatar", locals: {user: work.user}
          .content__box__post
            .upper-post
              .user-name
                = work.user.name
            .lower-post
              週平均走行距離
              .weekly_average_mileage
                = work.user.avatar.weekly_average_mileage
                km