!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hashitter1
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -# ヘッダー
    %header.header
      .header__left
        = link_to "Hashitter", root_path, class: "home-link"
      .header__right
        - if user_signed_in?
          %ul.header__right__menu
            = link_to "WORK", user_works_path(current_user), class: "list"
            = link_to "TWEET", new_tweet_path, remote: true, class: "list"
            = link_to "ログアウト", destroy_user_session_path, class: "list js-modal-logout"
          - unless controller_name == "users" && action_name == "edit"
            .avatar-circle
              .header-icon
                .avatar
                  = link_to user_path(current_user), class: "list" do
                    = render partial: "/users/avatar", locals: {user: current_user}
        - else
          .header__right__menu
            = link_to "WORK", new_user_session_path, class: "list"
            = link_to "TWEET", new_user_session_path, class: "list"
            = link_to "ログイン", new_user_session_path, class: "list"
            = link_to "新規登録", new_user_registration_path, class: "list"

    -# フラッシュ
    - if flash[:notice]
      .flash-notice
        = flash[:notice]
    
    - if user_signed_in?
      -# tweetモーダル（新規投稿）
      #new-tweet-form
      -# tweetモーダル（削除）
      .modal.js-modal-destroy-tweet
        .modal__bg.js-modal-close
        .modal__content
          = icon "fas", "times", class: "js-modal-close"
          .modal-form
            .modal-form__title
              本当に削除しますか？
              .destroy-buttons
                .js-modal-close.actions.modal-submit
                  .submit-button
                    やめる
                .actions.modal-submit
                  #delete-button.submit-button
                    削除
      -# ログアウトモーダル
      .modal.js-modal-logout
        .modal__bg.js-modal-close
        .modal__content
          = icon "fas", "times", class: "js-modal-close"
          .modal-form
            .modal-form__title
              ログアウトしますか？
              .destroy-buttons
                .js-modal-close.actions.modal-submit
                  .submit-button
                    いいえ
                .actions.modal-submit#logout-submit
                  #logout-button.submit-button
                    はい

    -# 全体を囲うスタイル
    .wrapper-contents
      .contents
        = yield
